.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7rem;

    background-color: var(--purple-light);
    border-radius: var(--border-radius);
}

.icon {
    color: var(--white);
}

.title {
    font-size: var(--text-md);
    font-weight: 600;
}

.subtitle {
    font-size: var(--text-md);
    font-weight: 400;
}

@media screen and (min-width: 1024px) {

    .card {
        max-width: 450px;
    }
}