@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100..900&family=JetBrains+Mono:wght@400;500;600;700;800;&display=swap');

:root {
  --violet-dark: #2A2344;
  --pink-dark: #80043A;
  --pink-light: #fc9cc5;
  --purple-dark: #260729;
  --purple-light: #43204A;
  --cyan-dark: #02907D;
  --cyan-light: #89ffef;
  --white: #FFFFFF;
  --white-fade:#f8f8f2;
  --black: #000000;
  --text: #FFFFFF;
  --selection-color: #422343;

  --font-main: 'Montserrat', sans-serif;
  --font-title: 'JetBrains Mono', monospace;

  --header-height: 75px;
  --footer-height: 60px;
  --max-width: 1500px;
  --div-border: 1.5rem;
  --border-radius: 10px;

  color: var(--text);

  --text-xs: clamp(0.8rem, 0.75rem + 0.25vw, 0.85rem);
  --text-sm: clamp(0.9rem, 0.85rem + 0.3vw, 0.95rem);
  --text-md: clamp(1rem, 0.9rem + 0.4vw, 1.125rem);
  --text-lg: clamp(1.25rem, 1.1rem + 0.6vw, 1.5rem);
  --text-xl: clamp(1.8rem, 1.3rem + 2.3vw, 3.3rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  background-color: var(--violet-dark);
}

h1 {
  font-family: var(--font-title);
  font-size: var(--text-xl);
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
  padding: 2rem 0;
  letter-spacing: 3%;
}

h2 {
  font-size: var(--text-lg);
  font-weight: 600;
  line-height: 1.4rem;
  letter-spacing: 5%;
}

p {
  font-family: var(--font-main);
  font-size: var(--text-md);
  line-height: 2rem;
}

p:not(:last-child) {
  padding-bottom: 1.5rem;
}

::selection {
  background: var(--selection-color);
  color: var(--white);
}

::-moz-selection {
  background: var(--selection-color);
  color: var(--white);
}